*{
	margin: 0;
	padding: 0;
}
span{
	font-weight: bold;
	border-bottom: 4px solid #000;
}
.header{
	height: 108px;
}
.header-top{
	width:938px;
	height:81px;
	margin:0 auto;	
}
.logo{
	width:180px;
	height:81px;
	font-family: ChunkFive;
	font-size: 28px;
	color:#fff;
	background-color: #f00;
	float:left;
}
.logo p{
	padding-top:31px;
	padding-left:26px;
}
.header-list{
	padding-top: 34px;
	margin-left: 42px;
}
.header-list ul li{	list-style: none;
	float:left;
	font-family: Helvetica;
	font-size: 18px;
	font-weight: bold;
	margin-left: 32px;
}
.header-list li:hover{
		border-bottom: 4px solid #000;

}
.banner{
	margin:0 auto;
	width:1078px;
	height: 555px;
}
.banner-top{
	height: 539px;
}
.banner-left{
	width: 497px;
	height:507px;
	float:left;
}
.left{
	float:left;
	padding-top: 182px;
	padding-right: 77px;
}
.banner-text{
	height: 208px;
	width:517px;
}
.p1{
	padding-top: 32px;
	font-family: ChunkFive;
	font-size: 48px;
}
.p2{
	font-family: Times New Roman;
	font-size: 18px;
}
.banner-img{
	height:316px;
	width:497px;
}
.banner-img img{
	padding-top: 110px;
}
.right{
	float:right;
	margin-right:10px;
	margin-top: -300px;
	position:relative;top:-60px;
}
.banner-bottom{
	height: 16px;
}
.banner-bottom img{
	position: relative;right:-500px;
}
.container{
	margin-top:60px;
	color:#fff;
	height: 390px;
	background-color: #282229;
}
.container1{
	background-color: #f00;
	width: 902px;
	margin: 0 auto;
}
.container-left{
	float:left;
	height:257px;
	width:558px;
	padding-top: 25px;
}
.p3{
	font-family: ChunkFive;
	font-size: 24px;
}
.p4{
	font-family:Droid Serif;
	font-size: 16px;
	margin-top: 37px;
}
.p5{
	font-family:Droid Serif;
	font-size: 16px;
	margin-top: 32px;
}
.container-right{
	margin-left: 42px;
	height:257px;
	width:302px;
	padding-top: 25px;
	float:left;
}
.container-right li{
	list-style: none;
}
.list{
	float:right;
	width:220px;
	margin-top: -40px;
	margin-left: 185px;

}
.list ul li{
	list-style-image: url(images/bgc.png);
	margin-top: 32px;
	position: relative;top:20px;
}
.p5{
	color:#bbb9ba;
}
.p4{
	color:#bbb9ba;
}
}
.p7{
	color:#525253;
	font-family: Droid Serif;
}
.p6{
	margin-top: 9px;
	font-family: Droid Serif;
	font-size: 14px;
}
.footer{
	height: 90px;
	background-color: #191919;
	color:#fff;
}
.footer-in{
	width:940px;
	margin: 0 auto;
}
.footer1{
	padding-top: 37px;
	width:240px;
	font-family:Arial;
	font-size:14px;
}
.footer2{
	position: relative;top:-20px;left:70px;
	margin-bottom: 25px;
	padding-right: 0px;
	width: 505px;
	font-family: Arial;
	font-size: 14px;
	float:right;
}