*{
	margin:0;
	padding:0;
}
.header{
	height:143px;
	background-color: #000;
}
.header-in{
	margin:0 auto;
	height:143px;
	width:940px;
	position:relative;
}
.logo{
	position:absolute;
	left:-28px;
	top:25px;
}
.header-in ul{
	margin-left: 490px;
}
.header-in ul li{
	color:#7f7f7b;
	list-style: none;
	float:left;
	margin-left: 20px;
	margin-top: 70px;
	font-size: 15px;
}
.header-in ul li:hover{
	color:#c52000;
}
.banner{
	height:348px;
	background-image: url(images/bgc-banner.gif);	
}
.banner-in{
	margin:0 auto;
	height:348px;
	width:940px;
	position:relative;
}
.banner-left{
	height:348px;
	width:590px;
}
.p1{
	font-size:20px;
	padding-top: 65px;
	color:#fff;
}
.p2{
	color:#7b7f7f;
	margin-top: 29px;
}
.button{
	margin-top: 25px;
}
.banner-right{
	position:absolute;
	top:-36px;
	right:-24px;
}
.container{
	background-image: url(images/bg-container.gif);
	height:895px;	
}
.container-in{
	margin:0 auto;
	height:895px;
	width:940px;
}
.container-in{
	height:220px;
}
.container-top{
	height:255px;
}
.container-in ul{
	padding-top: 35px;
}
.container-in ul li{
	float:left;
	list-style: none;
}
.pic-spring{
	margin-left: 19px;
}
.pic-summer{
	margin-left: 20px;
}
.container-middle{
	height:315px;
	position:relative;
}
.container-mid-left{
	float:left;
	height:314px;
	width:620px;
}
.next{
	width:620px;
	height:38px;
	font-size:27px;
	color:#fff;}
.30{
	width:60px;
	height:60px;
	top:100px;
	padding-top: 21px;
}
.left-in{
	color:#777f7f;
	float:right;
	width:538px;
	padding-top:20px;
}
.lorem a{
	color:#fff;
}
.stet{
	margin-top: 25px;
}
.button2{
	margin-top: 25px;
}
.container-mid-right{
	float:left;
	height: 314px;
	width:300px;
	margin-left: 20px;
}
.container-mid-right ul li{
	list-style-image: url(images/三角.gif);
	color:#fff;
	font-size: 10px;
}
.container-mid-right ul{
	width:300px;
	height:365px;
}
.container-bottom{
	height:290px;
	width:940px;
}
.bot-left{
	width:61px;
	height:290px;
	float:left;
}
.bot-left img{
	padding-top: 30px;
	padding-left:-2px;
}
.bot-mid{
	width:538px;
	height:290px;
	float:left;
	margin-left: 20px;
}
.images{
	width:221px;
	height:290px;
	float:left;
}

.clita{
	color:#fff;
}
.more1{
	margin-top: 20px;
}
.text{
	color:#777f7f;
	width:317px;
	height:290px;
	float:left;
}
.bot-right{
	font-size: 18px;
	color:#fff;
	width:300px;
	height:290px;
	float:left;
	margin-left:20px;
}
.bot-right img{
	margin-top: 15px;
}
.footer{
	height: 150px;
	background-color: #000;
}
.footer-in{
	width: 940px;
	margin: 0 auto;
}
.footer-left{
	background-color: #000;
	height: 38px;
	width: 300px;
	text-align: center;
	padding-top: 37px;
	margin-left: 174px;
	float: left;
}
.footer-left{
	color: #7d7f7f;
}
.p7{
	margin-top: 10px;
}
.p7 a{
	color:#cc2800;
}
.images0{
	padding-top: 50px;
	float: right;
	margin-right: 83px;
}