*{
	margin: 0;
	padding: 0;
}
.header{
	height:132px;
}
.header-top{	
	height:19px;
	background-color:#3d3d3d;
}
.header-top-in{
	width:916px;
	margin:0 auto;
	height:19px;
}
.header-bottom{
	height:112px;
	background-image: url(images/bgc1.gif);	
}
.header-bottom-in{
	margin:0 auto;
	height:112px;
	width:916px;
}
.header-bottom p{
	font-size: 34px;
	color:#982e14;
	padding-top:38px;
	float:left;
}
.ul{
	height:50px;
	width:500px;
	margin-left:400px;
	float: left;
	margin-top:-30px;
}
.ul li{
	font-family:"Myriad Pro";
	font-size: 16px;
	float:left;
	list-style: none;
}
.ul li:hover{
	color:#8b3737;
	border-bottom: 2px solid #c70100;
}
.list{
	margin-left: 45px;
}
.manner{
	margin-top:1px;
	height:270px;
	background-image: url(images/bgc2.gif);	
}
.manner-in{
	color:#fff;
	margin: 0 auto;
	width:916px;	
	height:270px;
	position:relative;	
}
.pic1{
	position:absolute;
	  top:-15px;
	  right:18px;
}
.manner-left{
	padding-top: 40px;
	width:480px;
	float:left;
}
.p1{
	color:#d0ffe8;
	font-size: 22px;
	font-family: "Myriad Pro";
}
.p2{
	color:#c2dbdf;
	font-family: "Trebuchet MS";
	margin-top: 25px;
	font-size: 12px;
    line-height: 20px
}
.manner-left ul{
	padding-top:40px;
	padding-left: 1px;
}
.manner-left ul li{
	list-style: none;
	float: left;
}
.list1{
	margin-left: 35px;
}
.container{
	margin-top:1px;
	height:305px;
}
.container-in{
	margin: 0 auto;
	width:916px;
	height:306px;
}
.container-left{
	width:278px;
	height:306px;
	float:left;
	padding-top: 38px;
}
.container-mid{
	width:278px;
	height:306px;
	margin-left: 26px;
	float:left;
	padding-top: 38px;
}
.container-right{
	width:278px;
	height:306px;
	margin-left:41px;
	float:left;
	padding-top: 38px;
}
.p3{
	font-size: 20px;
    font-family: "Trebuchet MS";
}
.a1{
	color:#9a3646;
}
.p4{
    font-family: "Trebuchet MS";
	color:#666666;
	margin-top: 20px;
}
.p5{
	font-family: "Trebuchet MS";
	border: 1px solid #e0e0e0;
	margin-top: 30px;
	padding-left:1px;
	height:79px;
	width:276px;
	color:#666666;
	background-color: #f4f4f4;
}
.p5 a{
	color:#7b403c;
	border-bottom: 1px solid #7b403c;
}
.container-in hr{
	margin-top: 5px;
}
.footer{
	margin-top:1px;
	height:150px;	
}
.footer-in{
	margin: 0 auto;
	height: 75px;
	width:916px;
}
.footer-in ul{
	padding-top:75px;
}
.footer-in ul li{
	font-family: "Trebuchet MS";
	color:#666666;
	font-size:15px;
	float:left;
	list-style: none;
}
.footer-in a{
	border-bottom: 1px solid #6f706b;
}
.list3{
	margin-left:90px;
}